.player {
	position: absolute;
	bottom: 20px;
	left: 20px;
	max-width: 300px;
	width: 100%;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: row nowrap;

	align-self: start;

	h3 {
		font-size: 2rem;
	}

	.player_motion {
		display: flex;
		align-items: stretch;
		justify-content: space-evenly;
		text-align: center;
		flex-flow: row nowrap;

		.player_motion_row {
			display: grid;
			grid-template-rows: 1fr 1fr;
			align-items: center;
			justify-content: center;

			span {
				display: inline-flex;
				color: var(--primary);
				padding: 4px;
				margin: 4px;
				font-size: 1.5rem;
			}
		}
	}
}
