.player {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: column;
	gap: 20px;

	align-self: start;

	h3 {
		font-size: 2rem;
	}

	.player_inventory {
		position: absolute;
		bottom: 20px;
		left: 20px;
		max-width: 300px;
		height: 300px;
		width: 100%;
		padding: 8px;

		.player_inventory_container {
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
			align-items: start;
			justify-content: start;
			text-align: center;
			flex-flow: column;
			height: calc(100% - 32px);
			width: 100%;

			overflow-y: auto;
			overflow-x: hidden;

			gap: 8px;
		}

		h3 {
			grid-column: 1/-1;
			margin-bottom: 8px;
		}

		.player_inventory_item {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			padding: 8px;
			background-color: var(--primary);
		}
	}

	.player_motion {
		position: absolute;
		bottom: 20px;
		left: 50%;
		max-width: 300px;
		width: 100%;
		height: 150px;

		transform: translate3d(-50%, 0, 0);

		display: flex;
		align-items: stretch;
		justify-content: space-evenly;
		text-align: center;
		flex-flow: row nowrap;

		.player_motion_row {
			display: grid;
			grid-template-rows: 1fr 1fr;
			align-items: center;
			justify-content: center;

			span {
				display: inline-flex;
				color: var(--primary);
				padding: 4px;
				margin: 4px;
				font-size: 1.5rem;
			}
		}
	}
}
