.selectedItem {
	position: absolute;
	overflow: auto;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: column;
	gap: 8px;
	padding: 8px;

	top: 20px;
	right: 20px;

	height: 200px;
	width: 200px;

	border-radius: 50%;

	h3 {
		font-size: 2rem;
	}
}
