.selectedItem {
	position: absolute;
	top: 8px;
	right: 8px;

	overflow: auto;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: column;
	gap: 8px;
	padding: 16px 24px;

	background-color: rgba(79, 78, 78, 0.8);
	border: 2px solid rgba(10, 10, 10, 0.8);

	border-radius: 5px;
	backdrop-filter: blur(10px);

	h3 {
		font-size: 2rem;
	}
}
