.MainMenu {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 8px;
	gap: 8px;

	max-width: 400px;
	max-height: 300px;
	min-width: 100px;
	min-height: 300px;

	width: 100%;
	height: 100%;
}
