#radar {
	position: absolute;
	top: 20px;
	right: 20px;
	width: 400px;
	height: 300px;

	border-radius: 5px;

	overflow-y: auto;
	overflow-x: hidden;
	overscroll-behavior: contain;

	background-color: rgba(10, 10, 80, 0.8);
	padding: 8px;
	color: white;

	backdrop-filter: blur(10px);

	display: flex;
	flex-direction: column;
	gap: 8px;
	align-items: stretch;
	justify-content: start;
}

#rader h2 {
	text-align: center;
}

.radar_item {
	padding: 8px 16px;
}

.radar_item:hover {
	background-color: blue;
	cursor: pointer;
}
