.radar {
	position: absolute;
	bottom: 20px;
	right: 20px;

	max-height: 300px;
	min-width: 300px;

	overflow: auto;

	display: flex;
	align-items: center;
	justify-content: start;
	flex-flow: column;
	gap: 8px;

	align-self: end;
	padding-right: 8px;

	.radarItem {
		width: 100%;

		display: grid;
		align-items: center;

		grid-template-columns: 1fr 1fr;

		padding: 8px;
		cursor: pointer;
		border-radius: 8px;

		&.active {
			background-color: var(--primary);
		}

		&:hover {
			opacity: 0.8;
		}
	}
}
