.FuelDepot {
	position: absolute;
	top: 20px;
	left: 20px;
	bottom: 20px;
	right: 20px;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 8px;
	gap: 8px;

	backdrop-filter: blur(40px);
	z-index: 999;
}
