.FuelDepot {
	position: absolute;
	top: 0;
	left: 0;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 8px;
	margin: 24px;
	gap: 8px;

	width: 100%;
	height: 100%;

	backdrop-filter: blur(40px);
	z-index: 999;
}
