* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  background-image: url("/milky-way.jpg");
  background-size: 100%, 100%;
  background-position: center center;
  background-color: black;
}
