* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;

	--primary: rgb(122, 98, 157, 0.8);
	--bg: rgba(27, 22, 35, 0.8);
}

body,
html {
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	overflow: hidden;

	background-image: url("./bg/milky-way.jpg");
	background-size: 100%, 100%;
	background-position: center center;
	background-color: black;

	font-size: 12px;
	font-weight: 400;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.panel {
	--sb-track-color: rgb(0, 0, 0, 0.1);
	--sb-thumb-color: var(--primary);
	--sb-border-color: var(--sb-track-color);
	--sb-size: 16px;

	background-color: var(--bg);
	border: 5px solid var(--bg);
	color: #fafafa;
	backdrop-filter: blur(10px);

	min-width: 50px;
	min-height: 50px;

	border-radius: 5px;
	pointer-events: all;
	z-index: 999;
}

.panel::-webkit-scrollbar {
	width: var(--sb-size);
}

.panel::-webkit-scrollbar-track {
	background: var(--sb-track-color);
	backdrop-filter: blur(10px);
}

.panel::-webkit-scrollbar-thumb {
	border-radius: 8px;
	background: var(--sb-thumb-color);
}

@supports not selector(::-webkit-scrollbar) {
	.panel {
		scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
	}
}

button {
	background-color: var(--primary);
	border: 2px solid rgba(10, 10, 10, 0.8);
	color: #fafafa;
	font-weight: bold;
	font-size: 1.5rem;
	padding: 8px 16px;
	border-radius: 5px;
	cursor: pointer;
}

.mining {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;

	pointer-events: none;

	overflow: auto;

	display: flex;
	align-items: stretch;
	justify-content: space-between;
	text-align: left;
	flex-direction: column-reverse;

	gap: 8px;

	h2 {
		padding: 8px;
	}
}

.tutorial {
	position: absolute;
	top: 20px;
	left: 20px;
	font-size: 18px;
	padding: 8px;

	font-size: 10px;

	p {
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		justify-content: space-between;
		gap: 8px;
	}
}

.hid {
	display: none;
	visibility: hidden;
	opacity: 0;
}
