* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;

	--primary: rgb(122, 98, 157, 0.8);
	--bg: rgba(27, 22, 35, 0.8);
	--rounding: 5px;

	--inset-left: calc(env(safe-area-inset-left, 0) + 10px);
	--inset-right: calc(env(safe-area-inset-right, 0) + 10px);
	--inset-top: calc(env(safe-area-inset-top, 0) + 10px);
	--inset-bottom: calc(env(safe-area-inset-bottom, 0) + 10px);

	--sb-track-color: color-mix(in srgb, var(--primary) 20%, black 80%);
	--sb-thumb-color: var(--primary);
	--sb-border-color: var(--sb-track-color);
	--sb-size: 24px;
}

body,
html {
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	overflow: hidden;

	background-image: url("./bg/milky-way.jpg");
	background-size: 100%, 100%;
	background-position: center center;
	background-color: black;

	font-size: 12px;
	font-weight: 400;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.panel {
	background-color: var(--bg);
	color: #fafafa;
	backdrop-filter: blur(10px);

	border-radius: var(--rounding);
	overflow: hidden;
	pointer-events: all;
	z-index: 999;

	h3 {
		background-color: color-mix(in srgb, var(--primary) 20%, transparent 80%);
		padding: 8px;
	}

	.panel_content {
		max-height: 300px;
		overflow-y: auto;
		overflow-x: hidden;
	}
}

::-webkit-scrollbar {
	width: var(--sb-size);
}

::-webkit-scrollbar-track {
	background: var(--sb-track-color);
	backdrop-filter: blur(10px);
}

::-webkit-scrollbar-thumb {
	border-radius: 8px;
	border: calc(var(--sb-size) / 4) solid var(--sb-border-color);
	background: var(--sb-thumb-color);
}

@supports not selector(::-webkit-scrollbar) {
	.panel {
		scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
	}
}

button {
	background-color: var(--primary);
	border: 2px solid rgba(10, 10, 10, 0.8);
	color: #fafafa;
	font-weight: bold;
	font-size: 1.5rem;
	padding: 8px 16px;
	border-radius: 5px;
	cursor: pointer;
}

.mining {
	position: absolute;
	left: env(safe-area-inset-left, 0);
	right: env(safe-area-inset-right, 0);
	top: env(safe-area-inset-top, 0);
	bottom: env(safe-area-inset-bottom, 0);

	pointer-events: none;

	overflow: auto;

	display: flex;
	align-items: stretch;
	justify-content: space-between;
	text-align: left;
	flex-direction: column-reverse;

	gap: 8px;

	h2 {
		padding: 8px;
	}
}

.tutorial {
	position: absolute;
	top: var(--inset-top);
	left: var(--inset-left);
	font-size: 18px;
	padding: 8px;

	font-size: 10px;

	p {
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		justify-content: space-between;
		gap: 8px;
	}
}

.flex-fill {
	flex-basis: 100%;
}

.grid-fill {
	grid-column: 1/-1;
}

.hid {
	display: none;
	visibility: hidden;
	opacity: 0;
}
